@import "./fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button {
    font-family: Quicksand;
}

body {
    background-color: hsl(210, 19%, 54%);
    color: white;
}

.heading-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0px 25px;
    margin-top: 20px;
}

h2 {
    color: #333;
}

.days-circles {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.day-circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.day-circle.active {
    background-color: green;
}

.day-circle.inactive {
    background-color: red;
}

.table-container {
    padding: 10px;
}

table {
    margin: 5px 0px;
    padding: 5px 10px;
    width: 100%;
}

table th,
table td {
    padding: 1rem;
    text-align: center;
}

table tbody {
    background-color: #34495e;
    color: white;
}

table tr {
    padding: .45em;
}

thead tr {
    background-color: #f39c12;
}

thead th {
    color: #2c3e50;
    font-size: 1.15em;
}

tbody tr:nth-child(even) {
    background-color: hsl(210, 29%, 31%);
}