@import "./fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
select,
option {
    font-family: Quicksand;
}

:root {
    --background-main: #a9a9a9;
    /* hsl(209, 42%, 38%) */
    --color-main: #fff;
    --color-header-quote: #111010;
    --button-color-main: #0dcaf0;
    --box-shadow-main: 5px 5px 5px rgba(0, 0, 0, 0.15);
    --box-shadow-hover: 5px 5px 5px rgba(0, 0, 0, 0.25);
    --form-container-main: #ffffff;
    --select-tag-background: #5c6664;
    --animated-button-background-color: #1e1e1e;
    --keyframe-translateY-100: translateY(-100px);
    --keyframe-translateY-0: translateY(0);
    --keyframe-translateX-100: translateX(100px);
    --keyframe-translateX-0: translateX(0);
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: var(--keyframe-translateY-100);
        transform: var(--keyframe-translateY-100);
    }

    100% {
        -webkit-transform: var(--keyframe-translateY-0);
        transform: var(--keyframe-translateY-0);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: var(--keyframe-translateY-100);
        transform: var(--keyframe-translateY-100);
    }

    100% {
        -webkit-transform: var(--keyframe-translateY-0);
        transform: var(--keyframe-translateY-0);
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: var(--keyframe-translateX-100);
        transform: var(--keyframe-translateX-100);
    }

    100% {
        -webkit-transform: var(--keyframe-translateX-0);
        transform: var(--keyframe-translateX-0);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: var(--keyframe-translateX-100);
        transform: var(--keyframe-translateX-100);
    }

    100% {
        -webkit-transform: var(--keyframe-translateX-0);
        transform: var(--keyframe-translateX-0);
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-main);
}

.home-page-intro {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-main);
    color: var(--color-main);
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
        'link1 header link2'
        'image-container content-container content-container';
}

.links-one,
.links-two {
    display: flex;
    align-items: center;
    width: 100%;

    a {
        text-decoration: none;
        color: var(--color-main);
        font-size: 20px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
}

.links-one {
    grid-area: link1;
}

.links-two {
    grid-area: link2;
}

.link-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.logo-container {
    grid-area: header;
    align-self: flex-start;
    justify-self: center;
}

.logo-container .logo-image {
    width: 20rem;
    padding: 0;
    margin: 0;
}

.image-container {
    grid-area: image-container;
}

.content-container {
    grid-area: content-container;
    display: flex;
    flex-direction: column;
}

.heading-quote-container {
    display: grid;
    color: var(--color-header-quote);
    width: 100%;
    grid-template-rows: 50px 50px;
    grid-template-columns: 325px 275px;
    column-gap: 10px;
    font-weight: 900;
    font-size: xx-large;
}

.first-sentence {
    align-self: flex-end;
    justify-self: end;
}

.second-sentence {
    justify-self: end;
}

.third-sentence {
    grid-row: span 2;
    align-self: center;
    justify-self: center;
    letter-spacing: 5px;
}

.slide-top {
    -webkit-animation: slide-down 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-down 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
    -webkit-animation: slide-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#busDetailInput {
    display: flex;
    flex-direction: column;
    background-color: var(--form-container-main);
    padding: 2rem 3rem;
    border-radius: 12px;
    gap: 2rem;
    box-shadow: var(--box-shadow-main);
}

.startandendpointcontainer {
    display: flex;
    gap: 1rem;
}

.servicetypecontainer {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: var(--select-tag-background);
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: var(--color-main);
    cursor: pointer;
    font-size: 1em;
    /* font-family: 'Open Sans', sans-serif; */
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: var(--select-tag-background);
    overflow: hidden;
    border-radius: .25em;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #23b499;
}


.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: var(--animated-button-background-color);
    box-shadow: 0 0 0 2px var(--animated-button-background-color);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--animated-button-background-color);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #fd8a26;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: var(--animated-button-background-color);
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: var(--animated-button-background-color);
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px #fd8a26;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

#result-container {
    height: 50vh;
    width: 100%;
    padding: 2rem;
    background-color: hsl(210, 29%, 24%);
    /* Dark background for contrast */
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
    margin-top: 2px;
    color: var(--color-main);
}

/* Style for the table */
table {
    margin: 10px 10px;
    padding: 5px 10px;
    border-collapse: collapse;
    max-width: 100%;
    margin: 0px auto;
}

table tbody {
    background-color: #34495e;
    color: var(--color-main);
}

table tr {
    padding: .45em;
}

thead tr {
    background-color: #f39c12;
}

thead th {
    color: #2c3e50;
    font-size: 1.15em;
}

tbody tr:nth-child(even) {
    background-color: hsl(210, 29%, 31%);
}

table th,
table td {
    padding: 1rem;
    text-align: center;
}

@media (max-width:1024px) {
    section {
        overflow-y: auto;
        margin: 0px auto;
    }

    table {
        border: 3px solid #6c757d;
        width: 100%;
    }

    table thead tr {
        display: none;
    }

    table tr {
        display: block;
        margin: 5px;
        border-radius: 12px;
    }

    table th,
    table td {
        padding: 0.5em;
    }

    table td {
        text-align: right;
        display: block;
        font-size: 1em;
        position: relative;
        padding-left: 50%;
    }

    table tbody td:not(:last-child)::before {
        content: attr(data-title) ": ";
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
        color: hsl(37, 90%, 41%);
    }

    tbody tr td:last-child {
        text-align: center;
        padding-left: 1rem;
    }

    tbody tr:nth-child(even) {
        background-color: #6c757d;
        color: var(--color-main);
    }

}

.details-button {
    --color: #00A97F;
    padding: 0.8em .9em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.details-button::before,
.details-button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    -webkit-transition: 1s ease;
    transition: 1s ease;
}

.details-button::before {
    top: -1em;
    left: -1em;
}

.details-button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.details-button:hover::before,
.details-button:hover::after {
    height: 410px;
    width: 410px;
}

.details-button:hover {
    color: var(--color-main);
}

.details-button:active {
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
}

#error-container,
#result-container {
    display: none;
}

.about-us-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    color: var(--color-main);
    /* background-color: hsl(215, 81%, 63%); */
    background-color: hsl(210, 29%, 30%);
    /* width: 100vw; */
    /* height: 100vh; */
    width: 100%;
    height: 100%;
    /* border-radius: 12px; */
    margin-top: 2px;
    padding: 3rem 5rem;
}

.about-us-container h1 {
    /* color: hsl(200, 90%, 50%); */
    letter-spacing: 4px;
    /* color: hsl(5, 100%, 65%); */
    color: hsl(215, 81%, 63%);
}

.about-us-grid-division1,
.about-us-grid-division2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
}

.about-us-grid-division1 {
    gap: 1rem;
}

.about-us-grid-division2 {
    gap: 2rem;
}

.about-us-grid--division2-img-container {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.about-us-grid--division2-img-container img {
    width: 50px;
    height: 50px;
}

.our-mission-container,
.key-features-container,
.choose-us-container {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.key-features-container div ul li span {
    font-weight: 800;
}

.footer-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding: 5rem 3rem;
    background-color: #152F4F;
    color: var(--color-main);
    gap: 2rem;
    /* border-radius: 12px; */
    margin-top: 2px;
}

.footer-container .row1 {
    display: flex;
    gap: 3rem;
}

.footer-container .row2 {
    display: flex;
    flex-direction: column;
}

.footer-container p {
    color: rgba(255, 255, 255, 0.5);
}

.footer-header-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 2rem;
}

.footer-header-container-heading-container {
    display: flex;
    flex-direction: column;
}

.footer-link-container ul li {
    list-style-type: none;
}

.footer-link-container ul li a {
    color: var(--color-main);
    transition: color 0.2s;
    text-decoration: none;
}

.footer-link-container ul li a:hover {
    color: #4180CB;
}

.footer-header-container-logo-container a svg path {
    transition: fill 0.2s;
}

.footer-header-container-logo-container a svg:hover path {
    fill: #4180CB;
}

.footer-location-container p:not(:first-child) i {
    transition: color 0.2s, text-decoration 0.2s;
    user-select: all;
}

.footer-location-container p:not(:first-child):hover i {
    text-decoration: underline;
    color: #4180CB;
}

.footer-copyright-container p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 15px;
    margin-top: 30px;
}